@model ReservationApp.Panel.UI.Areas.Member.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız Soyadınız")
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    @Html.Label("Telefon Numaranız")
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <br />
    @Html.Label("Resim")
    <input type="file" asp-for="Image" class="form-control" />
    <br />
    @Html.Label("Şifreniz")
    <input type="password" asp-for="Password" class="form-control" />
    <br />
    @Html.Label("Şifre Tekrar")
    <input type="password" asp-for="ConfirmPassword" class="form-control" />
    <span>@ViewBag.ErrorMessage</span>
    <br />
    <br />

    <button class="btn btn-primary">Bilgileri Güncelle</button>
   
</form>
